header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2; /* Sæt z-indeks til at placere headeren over videoen */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: pontano sans;
}

.logo img {
  width: 50px;
  height: 50px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #ffffff;
}
